body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    height: 100vh;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    background-color: white;
    border-radius: 2em;
    position: relative;
}

.zindex1 {
    z-index: 1;
}

.zindex2 {
    z-index: 2;
}

.zindex3 {
    z-index: 3;
}

.titre {
    font-size: 2.2em;
    font-weight: 700;
    color: hsl(238, 29%, 16%);
}

.question_container {
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.text_question {
    color: hsl(240, 6%, 50%);
}

.text_question:hover {
    color: hsl(14, 88%, 65%);
}

.question_active {
    font-weight: 700;
    color: hsl(238, 29%, 16%);
}

.arrow_up {
    transform: rotate(180deg);
}

.response {
    color: hsl(240, 6%, 50%);
    font-weight: 400;
}

.hidden {
    display: none;
}

.attribution {
    margin-top: 1em;
}

/*Ordinateur*/
@media only screen and (min-width: 885px) {
    .mobile {
        display: none;
    }

    .card {
        display: flex;
        flex-direction: row;
        width: 802px;
        height: 444px;
    }

    .illustration {
        width: 336px;
        position: relative;
        overflow: hidden;
    }

    .patterndesktop{
        width: 840px;
        height: auto;
        position: absolute;
        right: 0;
        top: -257px;
    }

    .illustrationdesktop {
        width: 410px;
        height: auto;
        position: absolute;
        top: 60px;
        right: 0;
    }

    .content {
        margin-top: 62px;
        margin-left: 75px;
        width: 305px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .titre {
        margin-bottom: 19px;
    }

    .question_container {
        padding: 16px 0 12.5px 0;
    }

    .text_question {
        font-size: 1em;
    }

    .response {
        font-size: 0.9em;
        line-height: 1.4em;
        margin-top: 9.6px;
    }

    .boxdesktop {
        position: absolute;
        top: 178px;
        left: -80px;
        height: 160px;
        width: auto;
    }

}


/*Mobile*/
@media only screen and (max-width: 884px) {
    .desktop {
        display: none;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 326px;
        height: 535px;
    }

    .illustration {
        width: 100%;
    }

    .patternmobile {
        width: 235px;
        height: auto;
        position: absolute;
        top: 0;
        right: 44px;
    }

    .illustrationmobile {
        width: 270px;
        height: auto;
        position: absolute;
        top: -110px;
        right: 44px;
    }

    .content {
        margin: 140px 22px 26px 24px;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .titre {
        width: 100%;
        margin-bottom: 23px;
        text-align: center;
    }

    .question_container {
        padding: 20px 0 16px 0;
    }

    .text_question {
        font-size: 1.1em;
    }

    .response {
        width: 90%;
        font-size: 1em;
        line-height: 1.5em;
        margin-top: 1em;
    }

    .attribution {
        margin-top: 1em;
    }


}